@use '../../sass/colors'as*;
@use '../../sass/mixins'as*;

.title {
  &__heading {
    @include flex;
    text-align: center;
    width: 100%;
    margin: 145px auto 126px;

    color: $white;
    font-size: 40px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1090px) {
  .title__heading {
    width: 100%;
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  .title__heading {
    width: 90%;
    margin: 145px auto 36px;
    font-size: 30px;
  }
}