@use './sass/colors'as*;
@use './sass/fontFamily'as*;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  background: $background-color;
}

::-webkit-scrollbar {
  display: none;
}